requests
Flask
Flask-Cors
Flask-RESTful
sklearn
faiss-cpu
numpy
pandas
h5py
torch
torchbiggraph
torchvision
tqdm
scikit-learn
scipy
matplotlib
gensim
git+https://github.com/usc-isi-i2/kgtk.git@dev#egg=kgtk
